@import '../../../scss/common/media';
@import '../../../scss/common/colors';
@import '../../../scss/common/transition';

.cards-block {
	margin-top: 4rem;
	margin-bottom: 4rem;

	@include media('lg') {
		margin-bottom: inherit;
	}
}

.cards-block__title {
	font-size: 6rem;
	font-weight: 900;
	letter-spacing: -.4rem;
	text-align: center;
	line-height: 1.2;

	@include media('lg') {
		line-height: inherit;
	}
}

.cards-block__cards {
	display: flex;
	justify-content: space-between;
	margin: 4rem 0;
}