@import '../../scss/common/colors';
@import '../../scss/common/media';
@import '../../scss/common/transition';
@import '../../scss/common/z-index';

.faq {
	&-bg {
		background-image: url('/images/faq-header.jpg');
		background-size: cover;
		min-height: 40rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: color('white');
		font-size: 8rem;
		font-weight: 700;
		position: relative;

		&::before {
			content: 'FAQ';
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			background-color: rgba(color('black'), .2);
			top: 0;
			right: 0;
			position: absolute;
		}

		@include media('sm') {
			min-height: 60rem;
		}
	}

	&-tabs {
		margin: 5rem 0;

		&__title {
			font-size: 1.4rem;
			padding: .5rem 0;
			font-weight: 600;

			@include media('sm') {
				font-size: 2rem;
			}
		}

		&__descr {
			font-size: 1.2rem;

			@include media('sm') {
				font-size: 1.4rem;
			}
		}
	}
	
	&-touch {
		text-align: center;
		font-size: 2.2rem;
		font-weight: 700;
		margin-bottom: 4rem;

		&__word {
			margin-left: 1rem;
			color: color('red-2');
			border-bottom: .4rem solid color('red-2');
			border-right: .4rem solid transparent;
			border-left: .4rem solid transparent;
			border-top: .4rem solid transparent;
			transition: all transition('normal');
			padding: .1rem .2rem;
			position: relative;
			border-width: .2rem;

			.faq-touch:hover & {
				border-color: color('red-2');
				background-color: color('red-2');
				color: color('white')
			}

			@include media('sm') {
				margin-left: 1rem;
				padding: .5rem 1rem;
				border-width: .4rem;
			}
		}

		@include media('sm') {
			font-size: 4rem;
		}
	}
}

.about-us-care {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	margin-bottom: -4rem;

	&__img {
		min-height: 50rem;
		width: 100%;
		background-image: url('/images/mosaic-3.jpg');
		background-size: cover;
		background-position: center;
		color: color('white');
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 4.2rem;
		font-weight: 700;
		position: relative;
		letter-spacing: -.2rem;
		overflow: hidden;
		transition: all transition('slow');
		cursor: pointer;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(#000, .1);
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
		}

		&:hover {
			font-size: 6rem;
		}

		&:nth-of-type(1) {
			background-image: url('/images/mosaic-1.jpg');
		}

		&:nth-of-type(2) {
			background-image: url('/images/mosaic-2.jpg');
		}

		@include media('sm') {
			width: 33.333%;
		}
	}
}