@mixin cm-containers {
	max-width: 120rem;
	margin: auto;
	padding: 0 2rem;
}

.cm-container {
	max-width: 120rem;
	@include cm-containers;
}

.cm-container--full-width {
	@include cm-containers;
}



